body {
    background-color: #403947;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    color: #fff;
}

img {
    width: 50px;
}

h1 {
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    width: max-content;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
input {
    cursor: pointer;
}

button {
    padding: .5rem 1rem;
    cursor: pointer;
}

.color-codes {
    margin-top: 30px;
}

p {
    margin: 20px;
}

p span {
    border: 1px solid #fff;
    box-sizing: border-box;
    padding: 4px 16px;
    float: right;
    margin-left: 20px;
}